*{
	margin: 0;
	padding: 0;
}
div{
	/*border: 1px solid red;*/
}
/*a{
	text-decoration: none;
}*/
/*li{
	list-style: none;
}*/
body{
	font-weight: bold;
	font-family: STXihei, "Microsoft YaHei";
}
#header-box{
	width: 100%;
	height: 172px;
}
#big-box{
	/*border:1px solid black;*/
	width: 1200px;
	margin: 0 auto;
	height: 90px;
	text-decoration: none;
}
#name-pic{
	width: 263.3px;
	height: 66px;
	/*display: inline;*/
	margin-top: -80px;
	margin-left: 70px;

}
#top-box-logo{
	/*width: 1200px;*/
	height: 90px;
	margin-left: 20px;
}
#bottom-box{
	/*border: 1px solid green;*/
	margin-top: 0px;
	width: 100%;
	height: 52px;
	background-color: #01DFCE;
}

/*#searchPart{
	width: 300px;
	height: 80px;
	position: absolute;
	margin-left:700px;
	margin-top: -30px;
}
#partInput{
	width: 257px;
	height: 25px;
	margin-left: 25px;
	margin-top: 41px;
	font-size: 14px;
	border-radius:10px;
}
#search_btn{
	border-radius: 30% 30% 30% 30%;
	height: 28px;
	width: 50px;
	background-color: #ffffff;
	position: relative;
	color: #33A6B8;
	margin-left: -42px;
	margin-top: 41px;
	font-weight: bold;
	font-size: 14px;
}*/
.input-group{
	/*border: 1px solid red;*/
	width: 280px;
	margin-top: -40px;
	margin-left: 730px;
	position: relative;
	float: left;
}
		#header-login{
			/*border: 1px solid green;*/
			height: 30px;
			width: 120px;
			margin-left: 1070px;
			margin-top: 11px;
			font-size: 21px;
			position: absolute;
		}
		#header-login a{
			text-decoration: none;
			font-size: 20px;
			color:  #FFFFF0;
			font-weight: bold;
			margin-left: 7px;
		 }
		#header-login span{
			/*border:1px solid green;*/
			position: relative;
			margin:center;
		}
		#header-login span:hover{
			/*border:1px solid green;*/
			position: relative;
			/*background-color:#33A6B8;*/
			text-decoration: underline;
		}
		#search_btn img{
			margin: 0 auto;
		}
		#titleSpan{
			position: absolute;
			margin-left: 115px;
			margin-top: 5px;
		}
		.titleFont{
			color: #fc8237;
		}
		#topBox2{
			/*border:1px solid red;*/
			width: 1200px;
			height: 50px;
			margin: 0 auto;
			margin-top: 0px;
			font-size: 21px;
		}
		#navFont{
			/*border: 1px solid red;*/
			text-decoration: none;
			margin: 0 auto;
			width: 900px;
			float: left;
			text-align: center;
			margin-top: 0px;
			margin-left: -30px;
			font-weight: bold;
		}
		#navFont a{
			text-decoration: none;
			display: block;
			color: #FFFFF0;
		}
		#navFont a:hover{
			color: #ffffff;
			display: block;
			background-color: #33A6B8;
		}
		#navFont li{
			text-decoration: none;
			list-style: none;
			float: left;
			width: 108px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			margin-left: 30px;
			z-index: 999;
		}
		#navFont li:hover{
			background-color: #33A6B8;
			z-index: 999;
		}
		#navFont li ul li{
			width:108px;
			background-color:#2C83DF;
			line-height: 50px;
			height: 50px;
			margin-left: -20px;
			display: none;
			/*z-index: 999;*/
			position: relative;

			font-size: 18px;
		}

		#navFont li:hover ul li{
			display: block;
			z-index: 999;
		}
		#navFont ul li:hover{
			background-color:#2C83DF;
			z-index: 999;

		}