#myNiceCarousel{
	position: relative;
}
.tutor_information{
	position: relative;
	margin-top:15px;
	border:1px solid #e4dfd7;
	background-color:#fcfcfc;
}
.tutor_information_pic img{
	width:50%;
	height:50%;
	position: relative;
	margin-left:480px;
	margin-top:30px;
}
#choose_button{
	position: relative;
	margin-left:460px;
	margin-top:15px;
}
#i_wonder_release{
	position:relative;
	margin-left:300px;
}
#personal_information{
	margin-left:15px;
	margin-top:15px;
}
#personal_inf{
	width:222px;
	background-color:#fff;
}
#personal_name{
	height:100px;
	border:1px solid #e4dfd7;
	margin-top:5px;
}
#pager{
	margin-left: 460px;
}
.pager a:link{
	background-color: #FFF;
	color:#56C9DB;
}
#learning_community{
	margin-top:15px;
	border:1px solid #e4dfd7;
	background-color:#fcfcfc;
}
.studycommunity img{
	width:50%;
	height:50%;
	margin-left:480px;
	margin-top:30px;
}
#learning_experience{
	margin:15px;
	height:534px;
}
.card_keyword{
	position: relative;
	padding:10px;
	width:210px;
}
.cards_article{
	position: relative;
	margin-left: 200px;
	margin-top:-170px;
	padding-top:10px;
	padding-left:10px;
}
#course_question{
	margin-top:15px;
}
#question_answer{
	height:523px;
	position: relative;
	margin-top:5px;
}
#qanda{
	position: relative;
	width:800px;
	margin-left:25px;
	padding:5px;
}
#goodresponder{
	position: relative;
	margin-right:15px;
	margin-left:845px;
	margin-top:-523px;
}
#goodresponder img{
	width:39%;
	height:39%;
}
#community_author{
	position: relative;
	margin-top:15px;
}
#author{
	position: relative;
	margin:25px;
}
.personal_introduction{
	width:400px;
	height:120px;
	position: relative;
	margin-left: 280px;
	margin-top:-130px;
	padding:5px;
}
.personal_article{
	position: relative;
	margin-left: 700px;
	margin-top:-120px;
	padding-left: 15px;
}