#c2-right .panel-body div h3{
    margin-left: 30px;
  }
  #c2-right .panel-body div h3 span{
    float: right;
    margin-right: 40px;
  }
  #c2-right .panel-body div p{
    margin-left: 10px;
    margin-right:10px;
    text-indent: 2em;
  }
  #c2-right .panel-body input{
    border-radius: 4px;
    border-width: 1px;
    background-color: white; color: black;
    border:1px solid #C0C0C0;
    position: absolute;
    margin-left: 480px;
  }
  #c2-right .panel-body > div{
    height: 180px;
    margin-bottom: 20px;
    border:1px solid #C0C0C0;
  }
  #c2-right .panel-body > div div{
    float: left;
  }
  #c2-right .panel-body > div div:first-of-type{
    width: 180px;
    height: 100%;
    border-right:1px solid gray;
  }
   #c2-right .panel-body > div div:first-of-type img{
    width: 120px;
    height: 120px;
    border:1px solid #C0C0C0;
    margin-left: 30px;
    margin-top: 20px;
   }
   #c2-right .panel-body > div div:first-of-type span{
    display: block;
    font-size: 20px;
    text-align: center;
   }
   #c2-right .panel-body > div div:last-of-type{
    width: 586px;
    height: 100%;
    position: relative;
  }
  #c2-right .panel-body > div div:last-of-type p{
    height: 90px;
    display: block;
    overflow-y: auto;
  }