#c2-right .panel-body div h3{
    margin-left: 30px;
  }
  #c2-right .panel-body div h3 span{
    float: right;
    margin-right: 40px;
  }
  #c2-right .panel-body div p{
    margin-left: 10px;
    margin-right:10px;
    text-indent: 2em;
  }
  #c2-right .panel-body input{
    border-radius: 4px;
    border-width: 1px;
    background-color: white; color: black;
    border:1px solid #C0C0C0;
    position: absolute;
    margin-left: 470px;
    width: 90px;
  }
  #c2-right .panel-body > div{
    height: 180px;
    margin-bottom: 20px;
    border:1px solid #C0C0C0;
  }
  #c2-right .panel-body > div > div{
    float: left;
  }
  #c2-right .panel-body #c2-left-item1{
    width: 180px;
    height: 100%;
    border-right:1px solid gray;
  }
   #c2-right .panel-body #c2-left-item1 img{
    width: 130px;
    height: 130px;
    border:1px solid #C0C0C0;
    margin-left: 25px;
    margin-top: 10px;
   }
   #c2-right .panel-body #c2-left-item1 span{
    display: block;
    font-size: 20px;
    text-align: center;
   }
   #c2-right .panel-body #c2-left-item2{
    width: 586px;
    height: 85%;
    position: relative;
    word-wrap: break-word;
  }
  #c2-right .panel-body #c2-left-item2 p{
    height: 95px;
    display: block;
    overflow-y: auto;
  }
  #c2-right .panel-body #c2-left-item3{
    width: 80px;
    background-color: white;
    border-radius: 12px;
    border:1px solid #C0C0C0;
    float: right;
    margin-right: 20px;
  }
  #c2-right .panel-body #c2-left-item3:hover{
    background-color: #33A6B8;
  }
  #c2-right .panel-body #c2-left-item3 a{ 
    color: black;
    text-decoration: none;
  }
  .black_overlay{ 
    display: none; 
    position: absolute; 
    top: -30px; 
    left: -40px; 
    width: 103%; 
    height: 225%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.30; 
    filter: alpha(opacity=88); 
} 
.white_content { 
    display: none; 
    position: fixed; 
    top: 15%; 
    left: 25%; 
    width: 650px; 
    height: 380px; 
    padding: 20px; 
    border: 1px solid #C0C0C0; 
    background-color: white; 
    z-index:1002; 
    overflow: auto; 
}
#c2-right .panel-body #light a{
  float: right;
  margin-right: 30px;
  background-color: white;
  text-decoration: none;
  color: black;
}
#c2-right .panel-body #light{
  word-wrap: break-word;
}
#c2-right .panel-body #light a:hover{
  color: #33A6B8;
}
#c2-right .panel-body #light #allnews{
    height: 250px;
    overflow-y: auto;
}
#c2-right .panel-body #light button{
  width: 90px;
  float: right;
  margin-right: 30px;
  border-radius: 12px;
  border:1px solid #C0C0C0;
  font-size: 18px;
  background-color: white;
  color: black;
}
#c2-right .panel-body #light button:hover{
  background-color: #33A6B8;
}
#c2-right .panel-body #light #answer{
    font-size: 20px;
}