body{
	margin: 0 auto;
}
ul{
	list-style:none;
}
li{
	list-style:none;
}
a{
	color: black;
	text-decoration-line: none;
}
/*header*/
#header-box{
	width: 100%;
	height: 172px;
}
#big-box{
	/*border:1px solid black;*/
	width: 1200px;
	margin: 0 auto;
	height: 90px;
}
#name-pic{
	width: 263.3px;
	height: 66px;
	/*display: inline;*/
	margin-top: -80px;
	margin-left: 70px;

}
#top-box-logo{
	/*width: 1200px;*/
	height: 90px;
	margin-left: 20px;
}
#bottom-box{
	/*border: 1px solid green;*/
	margin-top: 0px;
	width: 100%;
	height: 52px;
	background-color: #01DFCE;
}
#searchPart{
			/*border: 1px solid green;*/
			width: 300px;
			height: 80px;
			position: absolute;
			margin-left:700px;
			margin-top: -30px;
		}
		#partInput{
			border: 2px dotted b6b6b6;
			width: 257px;
			height: 25px;
			margin-left: 25px;
			margin-top: 40px;
			font-size: 14px;
			border-radius:10px;
		}
		#search_btn{
			border: dotted b6b6b6;
			height: 28px;
			width: 42px;
			background-color: #ffffff;
			position: absolute;
			color: #01DFCE;
			margin-left: -42px;
			margin-top: 41px;
			font-weight: bold;
		}
		#header-login{
			/*border: 1px solid green;*/
			height: 30px;
			width: 120px;
			margin-left: 1070px;
			margin-top: 13px;
			font-size: 21px;
			position: absolute;
		}
		#header-login a{
			font-size: 20px;
			color:  #FFFFF0;
			font-weight: bold;
			margin-left: 7px;
		 }
		#header-login span{
			/*border:1px solid green;*/
			position: relative;
			margin:center;
		}
		#header-login span:hover{
			/*border:1px solid green;*/
			position: relative;
			/*background-color:#33A6B8;*/
			text-decoration: underline;
		}
		#search_btn img{
			margin: 0 auto;
		}
		#titleSpan{
			position: absolute;
			margin-left: 115px;
			margin-top: 5px;
		}
		.titleFont{
			color: #fc8237;
		}
		#topBox2{
			/*border:1px solid red;*/
			width: 1200px;
			height: 50px;
			margin: 0 auto;
			margin-top: 0px;
			font-size: 21px;
		}
		#navFont{
			margin: 0 auto;
			width: 1200px;
			float: left;
			text-align: center;
			margin-top: 0px;
			margin-left: -30px;
			font-weight: bold;
		}
		#navFont a{
			display: block;
			color: #FFFFF0;
		}
		#navFont a:hover{
			color: #ffffff;
			display: block;
			background-color: #33A6B8;
		}
		#navFont li{
			float: left;
			width: 108px;
			height: 50px;
			text-align: center;
			line-height: 50px;
			margin-left: 30px;
			z-index: 999;
		}
		#navFont li:hover{
			background-color: #33A6B8;
			z-index: 999;
		}
		#navFont li ul li{
			width:108px;
			background-color:#2C83DF;
			line-height: 50px;
			height: 50px;
			margin-left: -20px;
			display: none;
			/*z-index: 999;*/
			position: relative;

			font-size: 18px;
		}

		#navFont li:hover ul li{
			display: block;
			z-index: 999;
		}
		#navFont ul li:hover{
			background-color:#2C83DF;
			z-index: 999;

		}
/*header结束*/
/*.content{
	margin-left: 100px;
	margin-right: 100px;
	height: 1000px;
	width: 75%;
	border: 1px black solid;
	
}*/
.content{
	margin: 0 auto;
	height: 710px;
	width: 1200px;
	/*border: 1px black solid;*/
}

/*.header{
	border: 1px red solid;
	height: 60px;
}*/
.content-top{
	/*width: 100%;*/
	width: 1200px;
	padding: 8px;
	background-color: #FCFCFC;
	border: 1px #FCFCFC solid;
	border-radius: 3px;
}
.title{
	float: left;
	margin-left:10px;
	height: 35px;
	/*width: 1100px;*/
	width: 100%;
	/*border: 1px pink solid;*/
	line-height: 5px;
	/*text-align: center;*/
	margin-top: 5px;

}
.title-title{
	/*border: 1px black solid; */
	text-align: left;
	width: 12%;
	height: 100%;
	font-size: 16px;
	float: left;
	/*margin-top: -8px;*/
	line-height: 100%;
	/*padding-top: -5px;*/
	margin-left: -5px;
}
h3{
	margin-top: 5px;
	/*border: 1px black solid;*/
	height: 100%;
}
.title ul{
	/*border: 1px red solid;*/
	height: 100%;
	line-height: 100%;
	/*width: 1000px;*/
	width: 88%;
	float: left;
	margin-left: -35px;
	margin-top: -1px;
	text-align: center;
	font-size: 15px;
}
.title ul li{
	float: left;
}
#spe3{
	margin-top: 1%;
	margin-left: 15px;
	/*margin-top: 7px;*/
	font-size: 14px;
	cursor: pointer;
}
.title-line{
	margin-top: 5px;
}
.title-condition{
	float: left;
	width: 80px;
	border: 1px black solid;
	border-radius: 20px;
	margin-left: 10px;
	text-align: center;
	height: 60%;
	margin-top: 0.7%;
	line-height: 20px;
}
.content-conditions{
	margin-top: 20px;
	/*height: 300px;*/
	width: 1182px;
	/*border: 1px green solid;*/
}
.conditions{
	width: 1182px;
	/*font-size: 15px;*/
	/*border: 1px blue solid;*/
}
.con-content{
	/*width: 100%;*/
	width: 1200px;
	/*border: 2px red solid;*/
	height: 40px;
	line-height: 35px;
	margin-left: -25px;
}
.con-ul{
	width: 1200px;
	/*border: 1px green solid;*/
	font-size: 15px;
	text-align: left;
	margin-left: -15px;
}
.con-ul li{
	float: left;
	margin-left: 5px;
	margin-top: 2px;
	width: 100px;
	font-size: 14px;
	/*border: 1px blue solid;*/
}
.content-middle{
	margin-top: 30px;
 	/*border: 1px black solid;*/
 	/*height: 500px;*/
 	width: 1200px;

}
.middle-left{
	padding: 8px;
	border: 2px red solid;
	/*height: 500px;*/
	margin: 0 auto;
	border: 1px #FCFCFC solid;
	border-radius: 3px;
	background-color: #FCFCFC;
	width: 840px;
	/*width: 71%;*/
	float: left;
}
.middle-right{
	/*border: 1px red solid;*/
	/*width: 310px;*/
	/*width: 29%;*/
	width: 340px;
	padding: 8px;
	border: 1px #FCFCFC solid;
	border-radius: 3px;
	background-color: #FCFCFC;
	/*height: 500px;*/
	/*margin-top: -500px;*/
	/*float: right;*/
	/*float: right;*/
	float: right;
}
.top-ul{
	/*border: 1px black solid;*/
	float: left;
	margin-top: 10px;
	/*margin-bottom: 15px;*/
	margin-left: -25px;
}
.top-ul li{
	float: left;
	/*text-align: center;*/
	font-size: 14px;
}
#spe1{
	float: left;
	text-align: left;
	width: 115px;
	/*border: 1px #ffff00 solid;*/
	margin-left: 5px;
	font-size: 14px;
}
.top-li{
	font-size: 14px;
	text-align: center;
	float: left;
	margin-right: 20px;
	/*border: 1px #ff0000 solid;*/
	/*width:90px;*/
}
.tutorshow{
	margin: 0 auto;
	/*border: 1px black solid;*/
	/*height: 400px;*/
	margin-top: 40px;
	/*width: 800px;*/
	width: 100%;
}
.tutorone{
	color: black;
	border: 1px #ADADAD solid;
	/*border: 1px black solid;*/
	border-radius: 4px;
	/*width: 800px;*/
	width: 830px;
	height: 160px;
	margin: 0 auto;
	margin-top: 10px;
}
.tutorinformation{
	width: 830px;
	border: 1px #ADADAD solid;
	/*border: 1px black solid;*/
	height: 160px;
}
.tutor-photo{
	/*border: 1px black solid;*/
	/*width: 15%;*/
	width: 110px;
	height: 110px;
	/*margin-top: 3%;*/
	text-align: center;
	margin-left: 24px;
	margin-top: 20px;
	float: left;
	overflow: hidden;
}
.tutor-information{
	float: left;
	/*border: 1px red solid;*/
	/*width: 37%;*/
	width: 330px;
	/*height: 76%;*/
	height: 120px;
	/*margin-left: 2%;*/
	margin-left: 25px;
	margin-top: 20px;
}
.icon2{
	font-size: 15px;
}
/*家长评论*/
.tutor-comment{
	/*border: 1px black solid ;*/
	float: left;
	width: 145px;
	/*width: 17%;*/
	height: 120px;
	/*margin-left: 2%;*/
	margin-left: 12px;
	margin-top: 20px;
	/*margin-top:2.3%;*/
}
.tutor-comment span{
	color: #BEBEBE;
	/*border:1px black solid;*/
}
.separator{
	float: left;
	width: 1px;
	height: 100px;
	background: #BEBEBE;
	margin-top: 28px;
	margin-left: 25px;
	/*margin-right: 10px;*/
}
.tutor-comment p{
	margin-top: 5px;
}
.tutor-check{
	/*border: 1px red solid;*/
	width: 133px;
	height: 100px;
	margin-left: 8px;
	margin-top: 30px;
	text-align: center;
	float: left;
}
.username{
	/*border: 1px red solid;*/
	/*height: 35px;*/
	height: 30%;
	/*width: 310px;*/
	width: 100%;
	font-size: 19px;
	line-height: 100%;
	font-family: "宋体";
	color:black;
}
.information{
	/*border: 1px blue solid;*/
	/*width: 310px;*/
	width: 100%;
	/*height: 86px;*/
	height: 70%;
}
.star img{
	float: left;
}
.price{
	text-align: center;
	/*border: 1px green solid;*/
	width: 100%;
	height: 50%;
	font-size: 30px;
	line-height: 70px;
}
.check{
	padding-top: 5px;
	/*border: 1px green solid;*/
	width: 100%;
	height: 50%;
}
.spe2{
	font-size: 18px;
}
.btn{	
	height: 33px;
	width: 90px;
	font-size: 15px;
	color: black;
	background-color: #56c9db;
	border-radius: 20px;
}
.firline{
	/*border: 1px yellow solid;*/
	margin-top: 2%;
	height: 27%;
	line-height: 24px;
	font-size: 14px;
}
.star{
	/*border: 1px yellow solid;*/
	height: 100%;
	width: 105px;
	font-size: 15px;
	text-align: left;
	float: left;
}
.teachages{
	/*border: 1px yellow solid;*/
	height: 100%;
	width:22%;
	margin-left: 4%;
	/*margin-top: -27px;*/
	float: left;
}
.teachhours{
	/*border: 1px yellow solid;*/
	height: 100%;
	width: 30%;
	float: right;
	margin-left: 4%;
	/*margin-top: -28px;*/
	float: left;
}
.tags{
	/*margin-top: 8px;*/
	margin-top: 5%;
	/*border: 1px yellow solid;*/
	height: 27%;
	/*width: 310px;*/
	width: 100%;
	font-size: 14px;
	/*margin-left: -30px;*/
}
.tag{
	border: 1px #F9F9F9 solid;
	border-radius: 5px;
	background-color: #F9F9F9;
	/*width: 70px;*/
	width: 23%;
	margin-left: 4%;
	float: left;
	text-align: center;
}
.tutorshow a:hover .btn{
	background-color: ;
}
.right-title{
	background-color: #81C7D4;
	/*border: 1px black solid;*/
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}
.recommended{
	border: 1px #ADADAD solid;
	border-radius: 4px;
	height: 160px;
	margin-top: 10px;
}
.re-photo{
	/*border: 1px black solid;*/
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-left: 20px;
	text-align: center;
}
.re-name{
	font-size: 15px;
	/*border: 1px black solid;*/
	width: 80px;
	height: 20px;
	margin-top: 10px;
	margin-left: 18px;
	text-align: center;
}
.re-tag{
	border: 1px black solid;
	border-radius: 5px;
	background-color: #F9F9F9;
	width: 70px;
	height: 18px;
	margin-top: 7px;
	margin-left: 24px;
	text-align: center;
	line-height: 18px;
	font-size: 14px;
}
.re-introduce{
	/*border: 1px black solid;*/
	height: 55px;
	width: 185px;
	margin-top: -138px;
	margin-left: 117px;
	font-size: 14px;
}
.re-grade{
	/*border: 1px black solid;*/
	width: 155px;
	height: 20px;
	margin-left: 117px;
	margin-top: 5px;
	font-size: 14px;
}
.re-hour{
	font-size: 14px;
	/*border: 1px black solid;*/
	width: 155px;
	height: 20px;
	margin-left: 117px;
	margin-top: 5px;
}
.icon{
	font-size: 20px;
}
.icon1{
	font-size: 1px;
}

.re-region{
	height: 20px;
	width: 70px;
	/*border: 1px black solid;*/
	margin-left: 117px;
	font-size: 14px;
	line-height: 10px;
	margin-top: 14px;
}
.re-detail{
	font-size: 14px;
	background-color: #01dfce;
	border: 1px #01dfce solid;
	height: 20px;
	width: 50px;
	margin-left: 210px;
	margin-top: -20px;
	border-radius: 6px;
}
.re-detail a{
	height: 20px;
	width: 100px;
	margin-left: 10px;
}
.dashed{
	width: 1160px;
	margin-left: -1%;
	text-align: center;
	/*border-top: #ADADAD 1px dashed; */
	border-top: #ADADAD 1px solid;
	overflow: hidden; 
	height: 1px;
}
/*footer*/
.footer{
	border:1px #34495E solid;
	width: 100%;
	height: 270px;
	background-color: #222c3c;
	/*margin-top: -10px;*/
	color: #fffff0;
}
.footer-font{
	margin: 0 auto;
	width: 1200px;
	height: 280px;
	/*margin-top: 20px;*/
	margin-top: 15px;
}
.font-h3{
	color: #fffff0;
	letter-spacing:1px;
}
#footer-font-about{
	width: 420px;
	height: 200px;
	margin-left: 0px;
	margin-top: 10px;
	float: left;
}
#about-font{
	width: 420px;
	margin-top: 15px;
	line-height: 30px;
}
#about-font:hover{
	text-decoration: underline;
}
.footer-words{
	font-weight: normal;
	color: #6a8380;
}
#footer-font-a{
	/*display: inline;*/
	width: 120px;
	height: 240px;
	margin-left: 55px;
	float: left;
	margin-top: 10px;
}
#a-title{
	/*display: inline;*/
	width: 100px;
	height: 200px;
}
#a-font{
	width: 100px;
	/*display: inline;*/
	margin-top: -163px;
}
#a-font a{
	/*display: block;*/
	float: left;
	margin-left: 2px;
	line-height:30px;
}
#footer-font-friend{
	width: 200px;
	height: 240px;
	/*display: inline;*/
	margin-left: 55px;
	margin-top: 10px;
	/*margin-top: -265px;*/
	float: left;
}
#friend-title{
	width: 200px;
	/*height: 200px;*/
}
#friend-logo{
	width: 200px;
	height: 150px;
	margin-top: 55px;
	float: left;
}
#friend-logo-div1 i{
	/*margin-left: 10px;*/
}
#footer-font-img{
	/*border: 1px #34495E solid;*/
	width:170px;
	height:120px;
	margin-left: 55px;
	float: left;
	margin-top: 10px;
}
.footer-font a{
	margin-left: 60px;
	font-size: 14px;
	font-family: '宋体';
	font-weight: normal;
	/*color: #fffff0;*/
}
.footer-font a:hover{
	margin-left: 60px;
	font-size: 14px;
	font-family: '宋体';
	color: #fffff0;
	text-decoration: underline;
}
#footer-font-img-font{
	/*border:1px #34495E solid;*/
	font-size: 16px;
	color: #fffff0;
	font-weight: normal;
	margin-top: 10px;
}
/*权利归属*/
#footer-right{
	width: 100%;
	height: 65px;
	background-color: #1b222f;
	margin-top: -32px;
}
#footer-right-font{
	margin:0 auto;
	width: 1200px;
	height: 60px;
	color: #222c3c;
	/*margin-top: 20px;*/
}
#footer-right-font p a{
	margin:0 auto;
	margin-left: 150px;
	color: #816b64;

}
/*footer结束*/