*{
	margin:0%;
	padding:0%;
}
body{
	width:100%;
	height:auto;
}
html{
	width:100%;
}
.panel{
	width:100%;
}
.panel-body{
	width:100%;
	background-color:#ffffff;
	position:relative;
	margin-top:60px;
}
#recommend{
	position:relative;
	width:70%;
	height:auto;
	left:15%;
	padding:1%;
	border:1px solid #7a7374;
	background-color:#ffffff;
}
#articlerec{
	position:relative;
	background-color:#ffffff;
}
#lablenavigation{
	position:relative;
	margin-top:2%;
	width:70%;
	height:auto;
	left:15%;
	background-color:#ffffff;
}
#articlelist{
	position:relative;
	width:70%;
	height:auto;
	left:15%;
	margin-top: 2%;
	background-color:#ffffff;
}
.articlecard{
	border:1px solid #8abcd1;
	position:relative;
	margin-top:2%;
	background-color:#ffffff;
}
#pages{
	position:relative;
	left:42%;
	width:250px;
	background-color:#ffffff;
}