.container-fixed{
	border:1px solid #e4dfd7;
	
	z-index: 9999;
	left:100px;
	top:25px;
	background-color: #ffffff;
	height:600px;
	position: fixed;
}
#leftbox{
	position:relative;
	margin-left:50px;
}
#rightbox{
	position: relative;
	margin-left:600px;
	margin-top:-220px;
}
#container{
	position:relative;
	margin-left:50px;
	margin-top:-40px;
	width:1010px;
}
#choose_button{
	position:relative;
	margin-left: 900px;
	margin-top:-50px;
}
#closeframe{
	position:relative;
	margin-left:1080px;
	margin-top:30px;
}