.all{
	text-align: center;
	/*border: 1px solid red;*/
	width: 700px;
	height: 650px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-350px;
	margin-top:-320px;
	text-align: center;
	float: left;
}
.img{
	margin-top: 30px;
	margin-left: 100px;
	width: 500px;
	height: 500px;
	text-align: center;
}
.return{
	/*border: 1px solid blue;*/
	float: right;
	margin-top: 550px;
	margin-right: 150px;
}
a{
	font-size: 20px;
	text-decoration-line: none;
	color: black;
	font-family: "楷书";
	font-weight: bold;
}