#state{
	background-color: #4caf50; 
	width:50px; 
	padding:5px;
	color:white;
}
#hour{
	border:1px solid #e4dfd7;
	width:50px; 
	padding:5px;
	position:relative;
}
#completion{
	background-color: #03B8CF;
	color:white;
	padding:5px;
}
#question_teacher{
	border:1px solid #e4dfd7;
	position:relative;
	padding:10px;
	margin-top:20px;
}
#answer_student{
	border:1px solid #e4dfd7;
	position:relative;
	padding:10px;
	margin-top:20px;
	margin-bottom: 20px;
}