.panel-body>div {
	height: 200px;
	margin-bottom: 20px;
	border: 1px dashed red;
}

.panel-body>div>div {
	float: left;
}

.panel-body #c2-right-img {
	width: 140px;
	height: 200px;
	border-right: 1px solid #c0c0c0;
}

.panel-body #c2-right-img img {
	margin-left: 20px;
	margin-top: 30px;
}

.panel-body #c2-right-img p {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}

.panel-body #c2-right-item>div {
	width: 180px;
	height: 180px;
	border: 1px dashed #c0c0c0;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.panel-body #c2-right-item>div a {
	float: right;
	margin-top: 5px;
	color: black;
}

.panel-body #c2-right-item>div a:hover {
	color: #33A6B8;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 1200px;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .40;
	filter: alpha(opacity = 30);
}

.white_content {
	display: none;
	position: absolute;
	top: 50%;
	left: 25%;
	width: 55%;
	height: 55%;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.white_content a {
	width: 100%;
}

.panel-body #c2-right-item button {
	width: 50px;
	height: 24px;
	background-color: white;
	border: 1px solid #c0c0c0;
	float: right;
	margin-top: 10px;
	margin-right: 15px;
	font-size: 13px;
	padding-bottom: 30px;
}

.panel-body #c2-right-item button:hover {
	background-color: #33A6B8;
}

.panel-body #c2-right-item button a:hover {
	text-decoration: none;
	color: black;
}

.panel-body #c2-right-item>div p {
	width: 160px;
	height: 120px;
	text-indent: 2em;
	font-size: 15px;
	word-wrap: break-word;
	overflow-y: auto;
	margin-left: 10px;
}

.panel-body #c2-right-item>div span {
	float: right;
	margin-right: 10px;
}

.panel-body #c2-right-edit {
	width: 55px;
	height: 200px;
}

.panel-body #c2-right-edit a {
	color: black;
	display: block;
	margin-left: 7px;
	padding-top: 5px;
}

.panel-body #c2-right-edit a:hover {
	color: #33A6B8;
}