#c2-right {
	
}

#c2-right>div {
	float: left;
	width: 50%;
	height: auto;
}

#c2-right>div:first-of-type {
	border-right: 1px solid #c0c0c0;
}

#c2-right>div:lase-of-type {
	height: 100%;
}

#c2-right .panel-body>div:nth-child(1) {
	height: 100%;
}

#c2-right .panel-body>div:nth-child(2) {
	height: 100%;
}

#c2-right .c2-right-item {
	/*border:1px solid black;*/
	/*margin: 0 auto;*/
	margin-bottom: 10px;
}

#c2-right .c2-right-item>div:nth-child(1) {
	width: 100%;
	height: 35px;
	float: left;
	border-bottom: 1px solid #c0c0c0;
}

#c2-right .c2-right-item>div:nth-child(1)>div {
	float: right;
}

#c2-right .c2-right-item>div:nth-child(2) {
	height: 200px;
	border-bottom: 1px solid #c0c0c0;
	padding-top: 35px;
}

#c2-right .c2-right-item>div:nth-child(2)>p {
	height: 155px;
	margin-left: 5px;
	text-indent: 2em;
	overflow-y: auto;
}