body{
	margin: 0 auto;
}
.pager{
	/*border: 1px solid black;*/
	margin-left: 295px;
}
.content{
	margin: 0 auto;
	padding-top: 60px;
	height: 1120px;
	width: 1200px;
	/*border: 1px black solid;*/
}
.content a{
	color: black;
	text-decoration-line: none;
}

.content ul{
	list-style: none;
}
.content ul li{
	list-style: none;
}
.content-top{
	/*width: 100%;*/
	width: 1200px;
	padding: 8px;
	background-color: #f6f6f6;
	border: 1px #f6f6f6 solid;
	border-radius: 3px;
}
.title{
	float: left;
	margin-left:10px;
	height: 35px;
	/*width: 1100px;*/
	width: 100%;
	/*border: 1px pink solid;*/
	line-height: 5px;
	/*text-align: center;*/
	margin-top: 5px;

}
.title-title{
	/*border: 1px black solid; */
	text-align: left;
	width: 100px;
	height: 35px;
	font-size: 16px;
	float: left;
	padding-top: 4px;
	/*margin-top: -8px;*/
	line-height: 25px;
	/*padding-top: -5px;*/
	margin-left: -5px;
}
h3{
	margin-top: 5px;
	/*border: 1px black solid;*/
	height: 100%;
}
.title ul{
	list-style:none;
	/*border: 1px red solid;*/
	height: 35px;
	line-height: 30px;
	/*width: 1000px;*/
	width: 1000px;
	float: left;
	/*margin-left: -35px;
	margin-top: -4px;*/
	text-align: center;
	font-size: 15px;
}
.title ul li{
	line-height: 18px;
	list-style:none;
	float: left;
}
#spe3{
	/*border: 1px solid black;*/
	margin-top: 1%;
	margin-left: 15px;
	margin-top: 9px;
	font-size: 14px;
	cursor: pointer;
}
.title-line{
	margin-top: 5px;
}
.title-condition{
	float: left;
	width: 80px;
	border: 1px #222c3c solid;
	background-color: #ACD6FF;
	border-radius: 20px;
	margin-left: 10px;
	text-align: center;
	height: 60%;
	margin-top: 0.7%;
	line-height: 20px;
}
.content-conditions{
	margin-top: 20px;
	/*height: 300px;*/
	width: 1182px;
	/*border: 1px green solid;*/
}
.conditions{
	width: 1182px;
	/*font-size: 15px;*/
	/*border: 1px blue solid;*/
}
.con-content{
	/*width: 100%;*/
	width: 1200px;
	/*border: 2px red solid;*/
	height: 40px;
	line-height: 35px;
	margin-left: -25px;
}
.hide-con-content{
	display: none;
	width: 1000px;
	/*border: 1px red solid;*/
	height: 40px;
	line-height: 35px;
	margin-left: 80px;
}
.hide-con-content1{
	display: none;
	width: 1000px;
	/*border: 1px red solid;*/
	height: 40px;
	line-height: 35px;
	margin-left: 80px;
}
.ul{
	width: 1200px;
	height: 40px;
	line-height: 35px;
	/*margin-left: -25px;*/
	/*border: 1px black solid;*/
}
.hideul{
	width: 1200px;
	height: 40px;
	line-height: 35px;
	/*margin-left: -25px;*/
	border: 1px blue solid;
}
.con-ul{
	height: 40px;
	width: 1200px;
	/*border: 1px green solid;*/
	font-size: 15px;
	text-align: left;
	margin-left: -15px;
}
#more{
	/*border: 1px solid black;*/
	width: 50px;
	text-align: center;
	margin-right: 20px;
	float: right;
	font-size: 14px;
}
#more1{
	/*border: 1px solid black;*/
	width: 50px;
	text-align: center;
	margin-right: 20px;
	float: right;
	font-size: 14px;
}
.con-ul li{
	float: left;
	margin-left: 5px;
	margin-top: 2px;
	width: 100px;
	font-size: 14px;
	/*border: 1px blue solid;*/
}
.content-middle{
	margin-top: 30px;
 	/*border: 1px black solid;*/
 	/*height: 500px;*/
 	width: 1200px;

}
.middle-left{
	padding: 10px;
	border: 2px red solid;
	/*height: 500px;*/
	margin: 0 auto;
	border: 1px #f6f6f6 solid;
	border-radius: 3px;
	background-color: #f6f6f6;
	width: 850px;
	/*width: 71%;*/
	float: left;
}
.middle-right{
	/*border: 1px red solid;*/
	/*width: 310px;*/
	/*width: 29%;*/
	width: 340px;
	padding: 8px;
	border: 1px #f6f6f6 solid;
	border-radius: 3px;
	background-color: #f6f6f6;
	/*height: 500px;*/
	/*margin-top: -500px;*/
	/*float: right;*/
	/*float: right;*/
	float: right;
}
.top-ul{
	/*border: 1px black solid;*/
	float: left;
	margin-top: 10px;
	/*margin-bottom: 15px;*/
	margin-left: -25px;
}
.top-ul li{
	float: left;
	margin-left: 10px;
	/*text-align: center;*/
	font-size: 14px;
}
#spe1{
	float: left;
	text-align: left;
	width: 115px;
	/*border: 1px #ffff00 solid;*/
	margin-left: 5px;
	font-size: 14px;
}
.top-li{
	font-size: 14px;
	text-align: center;
	float: left;
	margin-right: 20px;
	/*border: 1px #ff0000 solid;*/
	/*width:90px;*/
}
.tutorshow{
	margin: 0 auto;
	/*border: 1px black solid;*/
	/*height: 400px;*/
	margin-top: 40px;
	/*width: 800px;*/
	width: 100%;
}
.tutorone{
	color: black;
	border: 1px #ADADAD solid;
	/*border: 1px black solid;*/
	border-radius: 4px;
	/*width: 800px;*/
	width: 830px;
	height: 160px;
	margin: 0 auto;
	margin-top: 10px;
}
.tutorinformation{
	width: 830px;
	border: 1px #ADADAD solid;
	/*border: 1px black solid;*/
	height: 160px;
}
.tutor-photo{
	/*border: 1px black solid;*/
	/*width: 15%;*/
	width: 110px;
	height: 110px;
	/*margin-top: 3%;*/
	text-align: center;
	margin-left: 24px;
	margin-top: 20px;
	float: left;
	overflow: hidden;
}
.tutor-information{
	float: left;
	/*border: 1px red solid;*/
	/*width: 37%;*/
	width: 330px;
	/*height: 76%;*/
	height: 120px;
	/*margin-left: 2%;*/
	margin-left: 25px;
	margin-top: 20px;
}
.icon2{
	font-size: 15px;
}
/*家长评论*/
.tutor-comment{
	/*border: 1px black solid ;*/
	float: left;
	width: 145px;
	/*width: 17%;*/
	height: 120px;
	/*margin-left: 2%;*/
	margin-left: 12px;
	margin-top: 20px;
	/*margin-top:2.3%;*/
}
.tutor-comment span{
	color: #BEBEBE;
	/*border:1px black solid;*/
}
.separator{
	float: left;
	width: 1px;
	height: 100px;
	background: #BEBEBE;
	margin-top: 28px;
	margin-left: 25px;
	/*margin-right: 10px;*/
}
.tutor-comment p{
	margin-top: 5px;
}
.tutor-check{
	/*border: 1px red solid;*/
	width: 133px;
	height: 100px;
	margin-left: 8px;
	margin-top: 30px;
	text-align: center;
	float: left;
}
.username{
	/*border: 1px red solid;*/
	/*height: 35px;*/
	height: 30px;
	width: 330px;
	font-size: 19px;
	line-height: 30px;
	font-family: "宋体";
	color:black;
}
.information{
	/*border: 1px blue solid;*/
	/*width: 310px;*/
	width: 100%;
	/*height: 86px;*/
	height: 70%;
}
.star img{
	float: left;
}
.price{
	text-align: center;
	/*border: 1px green solid;*/
	width: 100%;
	height: 50%;
	font-size: 30px;
	line-height: 70px;
}
.check{
	padding-top: 5px;
	/*border: 1px green solid;*/
	width: 100%;
	height: 50%;
}
.spe2{
	font-size: 18px;
}
.btn1{	
	height: 33px;
	width: 90px;
	font-size: 15px;
	color: black;
	background-color: #56c9db;
	border-radius: 20px;
}
.firline{
	/*border: 1px yellow solid;*/
	margin-top: 2%;
	height: 27%;
	line-height: 24px;
	font-size: 14px;
}
.star{
	/*border: 1px yellow solid;*/
	height: 100%;
	width: 105px;
	font-size: 15px;
	text-align: left;
	float: left;
}
.teachages{
	/*border: 1px yellow solid;*/
	height: 100%;
	width:22%;
	margin-left: 4%;
	/*margin-top: -27px;*/
	float: left;
}
.teachhours{
	/*border: 1px yellow solid;*/
	height: 100%;
	width: 30%;
	float: right;
	margin-left: 4%;
	/*margin-top: -28px;*/
	float: left;
}
.introduce{
	/*border: 1px solid black;*/
	margin-top: 2px;
	font-size: 13px;
	color: #7B7B7B;
	font-weight: normal;
	/*height: 50px;*/
}
.info-grades{
	height: 30px;
}
.tags{
	height: 25px;
	font-size: 14px;
}
.tag{
	border: 1px #F9F9F9 solid;
	border-radius: 5px;
	background-color: #00B5AD;
	height: 20px;
	width: 40px;
	margin-left: 10px;
	float: left;
	text-align: center;
}
.tutorshow a:hover .btn{
	background-color: ;
}
.right-title{
	background-color: #81C7D4;
	/*border: 1px black solid;*/
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}
.recommended{
	border: 1px #ADADAD solid;
	border-radius: 4px;
	height: 160px;
	margin-top: 10px;
}
.recommend-left{
	/*border: 1px solid black;*/
	float: left;
	width: 100px;
	margin-left: 20px;
	margin-top: 15px;
	text-align: center;
}
.recommend-right{
	/*border: 1px solid black;*/
	float: right;
	width: 190px;
	margin-top: 15px;
}
.re-photo{
	/*border: 1px black solid;*/
	width: 80px;
	height: 80px;
	margin-top: 2px;
	margin-left: 10px;
	text-align: center;
}
.re-name{
	font-size: 15px;
	/*border: 1px black solid;*/
	width: 80px;
	height: 20px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}
.re-tag{
	border: 1px black solid;
	border-radius: 5px;
	background-color: #F9F9F9;
	width: 70px;
	height: 18px;
	margin-top: 7px;
	margin-left: 24px;
	text-align: center;
	line-height: 18px;
	font-size: 14px;
}

.re-introduce{
	/*border: 1px black solid;*/
	height: 63px;
	width: 185px;
	/*margin-top: -138px;
	margin-left: 117px;*/
	font-size: 14px;
}
.re-grade{
	/*border: 1px black solid;*/
	width: 155px;
	height: 20px;
	/*margin-left: 117px;*/
	margin-top: 5px;
	font-size: 14px;
}
.re-hour{
	font-size: 14px;
	/*border: 1px black solid;*/
	width: 155px;
	height: 20px;
	margin-left: 117px;
	margin-top: 5px;
}
.re-region{
	height: 20px;
	width: 70px;
	/*border: 1px black solid;*/
	/*margin-left: 117px;*/
	font-size: 14px;
	line-height: 10px;
	margin-top: 7px;
	/*margin-left: 5px;*/
}
.re-detail{
	font-size: 14px;
	background-color: #01dfce;
	/*border: 1px #01dfce solid;*/
	height: 20px;
	width: 50px;
	margin-left: 100px;
	margin-top: -17px;
	border-radius: 6px;
}
.icon{
	font-size: 20px;
}
.icon33{
	font-size: 20px;
}
.icon1{
	font-size: 1px;
}


.re-detail a{
	height: 20px;
	width: 100px;
	margin-left: 10px;
}
.dashed{
	width: 1160px;
	margin-left: -1%;
	text-align: center;
	/*border-top: #ADADAD 1px dashed; */
	border-top: #ADADAD 1px solid;
	overflow: hidden; 
	height: 1px;
}
#addCanadiate{
	/* border: #ADADAD 1px dashed; */
	margin-left:100px;
	margin-top:5px;
}
